startup --digest_function=blake3
common --cache_computed_file_digests=500000

common --noworker_sandboxing
common --spawn_strategy=remote,worker,local

common --modify_execution_info=^(AppleLipo|BitcodeSymbolsCopy|BundleApp|BundleTreeApp|DsymDwarf|DsymLipo|GenerateAppleSymbolsFile|ObjcBinarySymbolStrip|CppArchive|CppLink|ObjcLink|ProcessAndSign|SignBinary|SwiftArchive|SwiftStdlibCopy)$=+no-remote,^(BundleResources|ImportedDynamicFrameworkProcessor)$=+no-remote-exec

common:upload --disk_cache=
common:upload --remote_upload_local_results

# Cache warming

common:warming --config=upload
common:warming --remote_download_minimal

# CI

common:ci --config=upload

# Work around rules_swift_package_manager sandboxing issue
--strategy_regexp="Compiling Sources/UITextView+Placeholder\.m=sandboxed"

build:remote_bitrise --jobs=100
build:remote_bitrise --remote_download_minimal
build:remote_bitrise --noremote_upload_local_results
build:remote_bitrise --disk_cache=
build:remote_bitrise --experimental_remote_cache_async
build:remote_bitrise --extra_execution_platforms=//:darwin_arm64
