startup --digest_function=blake3
common --cache_computed_file_digests=500000

common --noworker_sandboxing
common --spawn_strategy=remote,local

build --noincompatible_disallow_empty_glob

test --ios_simulator_device='iPhone 16 Pro'
